.main-body-content-tab .list-cards{
  background: white;
  margin-bottom: 30px;
  padding: 0;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #e5e5e5;
}
.button-add-card{
  background: white;
  padding: 0;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #e5e5e5;
}

.main-body-content-tab {
  width: 75%;
  margin: auto;
  margin: 40px auto;
}
.title-body {
  float: left;
  /* display: block; */
  width: 100%;
  text-align: left;
  padding: 15px 22px;
  /* margin-bottom: 20px; */
  /* border-bottom: 1px solid #e5e5e5; */
}
.list-cards ul {
  padding: 0 20px;
}
.add-card {
  cursor: pointer;
}