 li.main-client-card {
  border: 1px solid #bbb;
  border-radius: 4px;
  margin: 2% 10%;
  min-height: 140px;
 }
 .section-img {
   border-right: 1px solid #bbb;
   /* height: 100%; */
 }
 ul.main-list-clients {
  max-height: 450px;
  overflow-y: auto;
  margin-top: 20px;
 }
 ul.main-list-clients li {
   /* display: block; */
 }
 .empty-clients {
  border: 1px solid black;
  margin: 30% 50px;
  padding: 50px;
  font-size: 1.6em;
 }